# sudo grub-install --force --no-floppy --root-directory /media/ethan/multiboot --boot-directory /media/ethan/multiboot/boot /dev/sde1
# For UEFI booting as well
# sudo grub-install --target x86_64-efi --efi-directory /media/ethan/multiboot --boot-directory /media/ethan/multiboot/boot --root-directory /media/ethan/multiboot  --removable

set timeout=30
set default=0
set menu_color_normal=white/black
set menu_color_highlight=white/green

menuentry "TAILS - The Amnesic Incognito Live System" {
    set iso="/iso/tails.iso"
    loopback loop $iso
    linux (loop)/live/vmlinuz boot=live config live-media=removable nopersistent noprompt quiet block.events_dfl_poll_msecs=1000 splash nox11autologin module=Tails findiso=$iso quiet_
    initrd (loop)/live/initrd.img
}

submenu "Kali Linux ->" {
  set isofile="/iso/kali.iso"
  search --set -f $isofile
  loopback loop $isofile
  menuentry "Live" {
    bootoptions="findiso=$isofile boot=live noconfig=sudo username=root hostname=kali"
    linux (loop)/live/vmlinuz $bootoptions
    initrd (loop)/live/initrd.img
  }
  menuentry "Live Failsafe" {
    bootoptions="findiso=$isofile boot=live config memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal"
    linux (loop)/live/vmlinuz $bootoptions
    initrd (loop)/live/initrd.img
  }
  menuentry "Live Forensic mode" {
    bootoptions="findiso=$isofile boot=live noconfig=sudo username=root hostname=kali noswap noautomount"
    linux (loop)/live/vmlinuz $bootoptions
    initrd (loop)/live/initrd.img
  }
}

submenu "Kali Linux Light ->" {
  set isofile="/iso/kali-light.iso"
  search --set -f $isofile
  loopback loop $isofile
  menuentry "Live" {
    bootoptions="findiso=$isofile boot=live noconfig=sudo username=root hostname=kali"
    linux (loop)/live/vmlinuz $bootoptions
    initrd (loop)/live/initrd.img
  }
  menuentry "Live Failsafe" {
    bootoptions="findiso=$isofile boot=live config memtest noapic noapm nodma nomce nolapic nomodeset nosmp nosplash vga=normal"
    linux (loop)/live/vmlinuz $bootoptions
    initrd (loop)/live/initrd.img
  }
  menuentry "Live Forensic mode" {
    bootoptions="findiso=$isofile boot=live noconfig=sudo username=root hostname=kali noswap noautomount"
    linux (loop)/live/vmlinuz $bootoptions
    initrd (loop)/live/initrd.img
  }
}

submenu "Fedora ->" {
    menuentry "Fedora Live Workstation" {
        set isofile="/iso/Fedora-Live-Workstation-x86_64-23-10.iso"
        set isolabel="Fedora-Live-WS-x86_64-23-10"
        loopback loop $isofile
        linux (loop)/isolinux/vmlinuz0 root=live:CDLABEL=$isolabel iso-scan/filename=$isofile rd.live.image rootfstype=auto ro rd.luks=0 rd.md=0 rd.dm=0 rhgb
        initrd (loop)/isolinux/initrd0.img
    }   
    menuentry "Fedora Workstation Netinstall" {
        set isofile="/iso/Fedora-Workstation-netinst-x86_64-23.iso"
        set isolabel="Fedora-23-x86_64"
        loopback loop $isofile
        linux (loop)/isolinux/vmlinuz root=live:CDLABEL=$isolabel iso-scan/filename=$isofile rd.live.image rootfstype=auto ro rd.luks=0 rd.md=0 rd.dm=0 rhgb
        initrd (loop)/isolinux/initrd.img
    }

    menuentry "Fedora Live Security" {
        set isofile="/iso/Fedora-Live-Security-x86_64-23-10.iso"
        set isolabel="Fedora-Live-Sec-x86_64-23-10"
        loopback loop $isofile
        linux (loop)/isolinux/vmlinuz0 root=live:CDLABEL=$isolabel iso-scan/filename=$isofile rd.live.image rootfstype=auto ro rd.luks=0 rd.md=0 rd.dm=0 rhgb
    	initrd (loop)/isolinux/initrd0.img
	}
}

menuentry "Debian Unstable Netinstall" {
    linux /iso/debian/linux
    initrd /iso/debian/initrd.gz
}


submenu "Parted Magic ->" {
  set isofile="/iso/pmagic.iso"
  loopback loop $isofile
  menuentry "Default settings 32 (Runs from RAM)" {
    bootoptions="iso_filename=$isofile edd=on gfxpayload=text vmalloc=384MiB"
    linux (loop)/pmagic/bzImage $bootoptions
    initrd (loop)/pmagic/initrd.img
  }
  menuentry "Default settings 64 (Runs from RAM)" {
    bootoptions="iso_filename=$isofile edd=on vga=normal vmalloc=384MiB"
    linux (loop)/pmagic/bzImage64 $bootoptions
    initrd (loop)/pmagic/initrd.img
  }
  menuentry "Live with default settings 32" {
    bootoptions="iso_filename=$isofile edd=on vga=normal boot=live eject=no vmalloc=384MiB"
    linux (loop)/pmagic/bzImage $bootoptions
    initrd (loop)/pmagic/initrd.img
  }
  menuentry "Live with default settings 64" {
    bootoptions="iso_filename=$isofile edd=on vga=normal boot=live eject=no vmalloc=384MiB"
    linux (loop)/pmagic/bzImage64 $bootoptions
    initrd (loop)/pmagic/initrd.img
  }
  menuentry "Failsafe Settings 32" {
    bootoptions="iso_filename=$isofile boot=live edd=off load_ramdisk=1 prompt_ramdisk=0 rw vga=normal nopcmcia noscsi nogpm consoleboot nosmart nosshd nosound max_loop=256 no_iscsi vmalloc=384MiB loglevel=9 nolapic"
    linux (loop)/pmagic/bzImage $bootoptions
    initrd (loop)/pmagic/initrd.img
  }
  menuentry "Failsafe Settings 64" {
    bootoptions="iso_filename=$isofile boot=live edd=off load_ramdisk=1 prompt_ramdisk=0 rw vga=normal nopcmcia noscsi nogpm consoleboot nosmart nosshd nosound max_loop=256 no_iscsi vmalloc=384MiB loglevel=9 nolapic"
    linux (loop)/pmagic/bzImage64 $bootoptions
    initrd (loop)/pmagic/initrd.img
  }
}

menuentry "DBAN" {
    set iso="/iso/dban.iso"
    loopback loop $iso
    linux (loop)/DBAN.BZI nuke="dwipe"
}

menuentry "Memtest86+ - RAM Tester" {
    linux16 /iso/memtest86+.bin
}

menuentry 'PassMark MemTest86 (x64)' {
    chainloader /iso/memtest86/efi/boot/bootx64.efi
}
menuentry 'PassMark MemTest86 (ia32)' {
    chainloader /iso/memtest86/efi/boot/bootx64.efi
}
