!URxvt.font: *-*-*-*-*-16-*
URxvt.font:     xft:bitstream vera sans mono:size=10:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=10:antialias=true

URxvt*scrollBar: False
URxvt*saveLines: 100000
URxvt.url-launcher: firefox
URxvt*matcher.button: 1
URxvt.perl-lib: /usr/lib64/urxvt/perl
URxvt.perl-ext:  default,selection-to-clipboard,matcher,font-size
URxvt.iso14755 : false
URxvt.print-pipe: "cat > /dev/null" 
URxvt.intensityStyles: false

URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease

URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

#define SOLARIZED_DARK1
#define ROFI_CUSTOM

#ifdef SOLARIZED_DARK
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

URxvt*background:            S_base03
URxvt*foreground:            S_base0
URxvt*fadeColor:             S_base03
URxvt*cursorColor:           S_base1
URxvt*pointerColorBackground:S_base01
URxvt*pointerColorForeground:S_base1

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
URxvt*color0:                S_base02
!URxvt*color8:                S_base03
!Change as per https://github.com/solarized/xresources/issues/2
!Fixes issues with missing colors due to solarized silliness
URxvt*color8:                S_base1

!! red dark/light
URxvt*color1:                S_red
URxvt*color9:                S_orange

!! green dark/light
URxvt*color2:                S_green
URxvt*color10:               S_base01

!! yellow dark/light
URxvt*color3:                S_yellow
URxvt*color11:               S_base00

!! blue dark/light
URxvt*color4:                S_blue
URxvt*color12:               S_base0

!! magenta dark/light
URxvt*color5:                S_magenta
URxvt*color13:               S_violet

!! cyan dark/light
URxvt*color6:                S_cyan
URxvt*color14:               S_base1

!! white dark/light
URxvt*color7:                S_base2
URxvt*color15: S_base3

#else

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

*background:            S_base3
*foreground:            S_base00
*fadeColor:             S_base3
*cursorColor:           S_base01
*pointerColorBackground:S_base1
*pointerColorForeground:S_base01

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
*color0:                S_base02
*color8:                S_base03

!! red dark/light
*color1:                S_red
*color9:                S_orange

!! green dark/light
*color2:                S_green
*color10:               S_base01

!! yellow dark/light
*color3:                S_yellow
*color11:               S_base00

!! blue dark/light
*color4:                S_blue
*color12:               S_base0

!! magenta dark/light
*color5:                S_magenta
*color13:               S_violet

!! cyan dark/light
*color6:                S_cyan
*color14:               S_base1

!! white dark/light
*color7:                S_base2
!*color15:               S_base3
!Fixes issues with missing colors due to solarized silliness
*color15:               S_base1
#endif

#ifdef ROFI_CUSTOM
! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #393939, #393939, #268bd2
rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c

rofi.terminal: urxvt
rofi.opacity: 90
rofi.width: 50
rofi.lines: 10
rofi.columns: 1
rofi.font: SourceCodePro 16
rofi.fg: #1aa
rofi.bg: #333
rofi.hlfg: #333
rofi.hlbg: #1aa
rofi.bc: #1aa
rofi.bw: 2
rofi.location: 7
rofi.padding: 2
rofi.yoffset: -20
rofi.xoffset: 0
rofi.fixed-num-lines: false
rofi.hmode: false
rofi.ssh-set-title: true
#endif
