!URxvt.font: *-*-*-*-*-16-*
URxvt.font:     xft:bitstream vera sans mono:size=9:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=9:antialias=true

URxvt*scrollBar: False
URxvt*saveLines: 100000
URxvt.url-launcher: firefox
URxvt*matcher.button: 1
URxvt.perl-lib: /usr/lib64/urxvt/perl
URxvt.perl-ext:  default,selection-to-clipboard,matcher
URxvt.iso14755 : false
URxvt.print-pipe: "cat > /dev/null" 

!Dark
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

URxvt*background:              S_base03
URxvt*foreground:              S_base0
URxvt*fading:                  40
URxvt*fadeColor:               S_base03
URxvt*cursorColor:             S_base1
URxvt*pointerColorBackground:  S_base01
URxvt*pointerColorForeground:  S_base1

URxvt*color0:                  S_base02
URxvt*color1:                  S_red
URxvt*color2:                  S_green
URxvt*color3:                  S_yellow
URxvt*color4:                  S_blue
URxvt*color5:                  S_magenta
URxvt*color6:                  S_cyan
URxvt*color7:                  S_base2
URxvt*color9:                  S_orange
URxvt*color8:                  S_base03
URxvt*color10:                 S_base01
URxvt*color11:                 S_base00
URxvt*color12:                 S_base0
URxvt*color13:                 S_violet
URxvt*color14:                 S_base1
URxvt*color15:                 S_base3

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #393939, #393939, #268bd2
rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c

rofi.terminal: urxvt
rofi.opacity: 90
rofi.width: 50
rofi.lines: 10
rofi.columns: 1
rofi.font: SourceCodePro 16
rofi.fg: #1aa
rofi.bg: #333
rofi.hlfg: #333
rofi.hlbg: #1aa
rofi.bc: #1aa
rofi.bw: 2
rofi.location: 7
rofi.padding: 2
rofi.yoffset: -20
rofi.xoffset: 0
rofi.fixed-num-lines: false
rofi.hmode: false
rofi.ssh-set-title: true
