!URxvt.font: *-*-*-*-*-16-*
URxvt.font:     xft:bitstream vera sans mono:size=9:antialias=false
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=9:antialias=false

URxvt*scrollBar: False
URxvt*saveLines: 100000
URxvt.urlLauncher     : firefox
URxvt*matcher.button:        1
URxvt.perl-lib: /usr/lib/URxvt/perl/
URxvt.perl-ext:  default,selection-to-clipboard,matcher
URxvt.iso14755 : false
URxvt.print-pipe: "cat > /dev/null" 

URxvt.background:	#20242c
URxvt.foreground:	#b3b8c4

URxvt.color0:	#3e4853
URxvt.color1:	#b06a58
URxvt.color2:	#95b47b
URxvt.color3:	#e5c078
URxvt.color4:	#58698c
URxvt.color5:	#7b5e8d
URxvt.color6:	#82a1b2
URxvt.color7:	#cccaca

URxvt.color8:	#525c67
URxvt.color9:	#ba7e6c
URxvt.color10:	#a9c88f
URxvt.color11:	#f9d48c
URxvt.color12:	#6c7da0
URxvt.color13:	#8f72a1
URxvt.color14:	#96b5c6
URxvt.color15:	#e0dede

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #393939, #393939, #268bd2
rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c

rofi.terminal: urxvt
rofi.opacity: 90
rofi.width: 50
rofi.lines: 10
rofi.columns: 1
rofi.font: SourceCodePro 9
rofi.fg: #1aa
rofi.bg: #333
rofi.hlfg: #333
rofi.hlbg: #1aa
rofi.bc: #1aa
rofi.bw: 2
rofi.location: 7
rofi.padding: 2
rofi.yoffset: -20
rofi.xoffset: 0
rofi.fixed-num-lines: false
rofi.hmode: false
rofi.ssh-set-title: true
